<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CoursesMapper">
    
    <resultMap type="Courses" id="CoursesResult">
        <result property="courseId"    column="course_id"    />
        <result property="courseSource"    column="course_source"    />
        <result property="courseVideo"    column="course_video"    />
        <result property="courseName"    column="course_name"    />
        <result property="courseDescription"    column="course_description"    />
        <result property="courseImage"  column="course_image"/>
    </resultMap>

    <sql id="selectCoursesVo">
        select c.course_id, c.course_source, c.course_video, c.course_name,
               c.course_description, c.course_image
        from courses c
    </sql>

    <select id="selectCoursesList"  parameterType="map" resultMap="CoursesResult">
        <include refid="selectCoursesVo"/>
        inner join course_user cu on c.course_id = cu.course_id
        <where>
            <if test="userId != null">
                and cu.user_id = #{userId}
            </if>
            <if test="course != null">
                <if test="course.courseSource != null and course.courseSource != ''">
                    and c.course_source = #{course.courseSource}
                </if>
                <if test="course.courseVideo != null and course.courseVideo != ''">
                    and c.course_video = #{course.courseVideo}
                </if>
                <if test="course.courseName != null and course.courseName != ''">
                    and c.course_name like concat('%', #{course.courseName}, '%')
                </if>
                <if test="course.courseDescription != null and course.courseDescription != ''">
                    and c.course_description = #{course.courseDescription}
                </if>
                <if test="course.courseImage != null and course.courseImage != ''">
                    and c.course_image = #{course.courseImage}
                </if>
            </if>
        </where>
    </select>
    
    <select id="selectCoursesByCourseId" parameterType="Long" resultMap="CoursesResult">
        <include refid="selectCoursesVo"/>
        where course_id = #{courseId}
    </select>

    <insert id="insertCourses" parameterType="Courses" useGeneratedKeys="true" keyProperty="courseId">
        insert into courses
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseSource != null">course_source,</if>
            <if test="courseVideo != null">course_video,</if>
            <if test="courseName != null and courseName != ''">course_name,</if>
            <if test="courseDescription != null">course_description,</if>
            <if test="courseImage != null">course_image,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseSource != null">#{courseSource},</if>
            <if test="courseVideo != null">#{courseVideo},</if>
            <if test="courseName != null and courseName != ''">#{courseName},</if>
            <if test="courseDescription != null">#{courseDescription},</if>
            <if test="courseImage != null">#{courseImage},</if>
         </trim>
    </insert>

    <update id="updateCourses" parameterType="Courses">
        update courses
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseSource != null">course_source = #{courseSource},</if>
            <if test="courseVideo != null">course_video = #{courseVideo},</if>
            <if test="courseName != null and courseName != ''">course_name = #{courseName},</if>
            <if test="courseDescription != null">course_description = #{courseDescription},</if>
            <if test="courseImage != null">course_image=#{courseImage},</if>
        </trim>
        where course_id = #{courseId}
    </update>

    <delete id="deleteCoursesByCourseId" parameterType="Long">
        delete from courses where course_id = #{courseId}
    </delete>

    <delete id="deleteCoursesByCourseIds" parameterType="String">
        delete from courses where course_id in 
        <foreach item="courseId" collection="array" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </delete>
</mapper>